#fieldSelection {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 30px;
    padding-top: 10px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #f0f3e7;
    -webkit-padding-start: 0.75em;
-webkit-padding-end: 0.75em;
-webkit-padding-after: 0.625em;
    border: 2px groove threedface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    min-width: -webkit-min-content;
}
